html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fieldGroup {
  position: relative;
}

.fieldGroupError .fieldInput {
  border-color: #bb0000;
}

.fieldLabel {
  display: block;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #7d7d7d;
  margin-bottom: 5px;
}

.fieldInput {
  display: block;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  padding: 12px 16px;
  font-size: 15px;
  line-height: 18px;
  color: #303030;
}

.error {
  color: #bb0000;
  font-size: 10px;
  position: absolute;
  top: 6px;
  right: 0;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
